<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="guru.nidi.mum"
    android:versionName="1.0.2"
    android:versionCode="7">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="@string/title_main"
        android:name=".MobileUsageMeter"
        android:icon="@drawable/watch"
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name=".main.MainActivity"
            android:label="@string/title_main"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".limit.LimitActivity"
            android:label="@string/title_limit">
        </activity>

        <service android:name=".infrastructure.ListenerService" />

        <receiver android:name=".infrastructure.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <receiver android:name=".infrastructure.Notifier">
            <intent-filter>
                <action android:name="guru.nidi.mum.infrastructure.Notifier.START"/>
            </intent-filter>
        </receiver>

    </application>
</manifest>
